escalated.sh
fish_variables
core
credentials.json
token.pickle
*.png
*.log
*.bin
ssh/.ssh/id*
*.userdb
**/build/**
fcitx5/.local/share/fcitx5/rime/installation.yaml
fcitx5/.local/share/fcitx5/rime/user.yaml
